/* =========================================================
   Navbar & Navigation Links
========================================================= */
.custom-nav-link-color {
    color: var(--accent-text-color);
}

.custom-nav-link-color:hover {
    color: var(--accent-text-color);
}

.nav-item a {
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
}

.navbar-toggler {
    background-color: var(--accent-text-color);
}

/* =========================================================
   Offcanvas
========================================================= */
.offcanvas-body .custom-img {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.10;
    z-index: 0;
    max-width: 70%;
    cursor: default;
}